          <h5>About</h5>

          <p>
            GridfinityCreator lets you generate STL or STEP files for several types of customizable Gridfinity components. For each type you can
            specify size, but also other parameters and options such as compartments, magnet-and/or screw-holes, a stacking lip and more. Just
            fill in the parameters and click the "Generate" button.
          </p>

          <div class="alert alert-warning">
            <h5 class="alert-heading">Warning</h5>
            <p class="mb-0">
              GridfinityCreator is alpha software. It may produce incorrect output, fail inexplicably or cease to exist at any
              moment.
            </p>
          </div>

          <h5>Alternatives</h5>

          <p>There are quite a few other Gridfinity generators available, both online and offline, each with their own advantages and use-cases. The ones I know about are:</p>

          <ul>
            <li><a href="https://gridfinity.perplexinglabs.com/">Online generator with a nice preview, by perplexinglabs</a></li>
            <li><a href="https://vector76.github.io/Web_OpenSCAD_Customizer/gridfinity_bins.html">Onlnie generator, based on an OpenSCAD implementation</a></li>
            <li><a href="https://apps.autodesk.com/FUSION/en/Detail/Index?id=7197558650811789">A Fusion360 Gridfinity App</a></li>
            <li><a href="https://github.com/michaelgale/cq-gridfinity">A python library to build Gridfinity objects</a></li>
            <li><a href="https://www.printables.com/@jdegs/collections/154274">Several Gridfinity generators by Printables user @jdegs</a></li>
          </ul>

          <h5>Made possible by ...</h5>

          <p>As is the case with most software these days, this application relies heavily on Free and Open Source Software (FOSS), generously released by their
          respective authors under an open license. Below is a list of the major tools, libraries and other components GridfinityCreator relies on:</p>

          <ul>
            <li><a href="https://github.com/CadQuery/cadquery">CadQuery</a> (Python framework for procedural CAD modelling)</li>
            <li><a href="https://flask.palletsprojects.com/en/3.0.x/">Flask</a> (Python web-application framework)</li>
            <li><a href="https://jinja.palletsprojects.com/">Jinja2</a> (Python HTML template engine)</li>
            <li><a href="https://gunicorn.org/">Gunicorn</a> (the WSGI server that runs GC)</li>
            <li><a href="https://www.python.org/">Python</a> (the programming language GC was written in)</li>
            <li><a href="https://bootswatch.com/flatly/">Bootswatch/Flatly</a> (the <a href="https://getbootstrap.com/">Bootstrap</a> theme used for this site)</li>
            <li><a href="https://github.com/microsoft/vscode">VS Code</a> (my IDE of choice)</li>
            <li><a href="https://github.com/git/git">Git</a> (for version control)</li>
            <li><a href="https://www.blender.org/">Blender</a> (used to the render the images of the components across the site)</li>
            <li><a href="https://www.docker.com/">Docker</a> (not FOSS, but still free as in beer)</li>                        
          </ul>