          <h5>Welcome!</h5>

          <p>
            This site generates STL files for several types of customizable Gridfinity components. For each type you can
            specify size (length, width and height), but also parameters such as the number of compartments and options
            like whether or not to include magnet- and/or screw-holes, a stacking lip and more. Just fill in the
            parameters and click the "Generate STL" button.
          </p>

          <div class="alert alert-warning">
            <h5 class="alert-heading">Warning</h5>
            <p class="mb-0">
              This is alpha software. It may produce incorrect output, fail inexplicably or cease to exist at any
              moment.
            </p>
          </div>

          <h5>Alternatives</h5>

          <p>There are quite a few other Gridfinity generators available, both online and offline, each with their own advantages and use-cases. The ones I know about are:</p>

          <ul>
            <li><a href="https://gridfinity.perplexinglabs.com/">Online generator with a nice preview, by perplexinglabs</a></li>
            <li><a href="https://vector76.github.io/Web_OpenSCAD_Customizer/gridfinity_bins.html">Onlnie generator, based on an OpenSCAD implementation</a></li>
            <li><a href="https://apps.autodesk.com/FUSION/en/Detail/Index?id=7197558650811789">A Fusion360 Gridfinity App</a></li>
            <li><a href="https://github.com/michaelgale/cq-gridfinity">A python library to build Gridfinity objects</a></li>
            <li><a href="https://www.printables.com/@jdegs/collections/154274">Several Gridfinity generators by Printables user @jdegs</a></li>
          </ul>
