{% extends 'base.html' %}
{% import "bootstrap5/form.html" as wtf %}

{% block content %}

<div class="container-fluid border mb-3" style="max-width: 70%;">

  <div class="row bg-primary align-items-center" data-bs-theme="dark">
    <div class="col">
      <h1 class="text-center text-white p-2">Gridfinity Creator</h1>
    </div>
    <div class="col-1 text-end">
      <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#settings"
        aria-controls="settings">...</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" data-toggle="tab" href="#home">Home</button>
        </li>
        {% for form in forms %}
        <li class="nav-item" role="presentation">
          <button class="nav-link" data-toggle="tab" href="#{{ form.id }}">{{ form.get_title() }}</button>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="tab-content border border-top-0 mb-3">
    <div id="home" class="tab-pane active">
      <div class="row p-3">
        <div class="col">
          <p>
          <h5>Welcome!</h5>
          </p>

          <p>
            This site generates STL files for several types of customizable Gridfinity components. For each type you can
            specify size (length, width and height), but also parameters such as the number of compartments and options
            like whether or not to include magnet- and/or screw-holes, a stacking lip and more. Just fill in the
            parameters and click the "Generate STL" button.
          </p>

          <div class="alert alert-warning">
            <h5 class="alert-heading">Warning</h5>
            <p class="mb-0">
              This is alpha software. It may produce incorrect output, fail inexplicably or cease to exist at any
              moment.
            </p>
          </div>

          <p>
          <h5>Grid units</h5>
          </p>

          <p>The <a src="https://gridfinity.xyz/specification/">Gridfinity Design Reference</a> specifies the following
            grid unit sizes:</p>

          <ul>
            <li>Length, Width: 42mm</li>
            <li>Height: 7mm (with a minimum height of 2 units, including the base)</li>
          </ul>
        </div>
      </div>
    </div>

    {% for form in forms %}
    <div id="{{ form.id }}" class="tab-pane">
      <div class="row p-3">
        <div class="col-9">
          <p>{{ form.get_description()|safe }}</p>
        </div>
        <div class="col">
          <img src="/static/{{form.id}}_sample.jpg" class="img-fluid rounded mx-auto d-block" />
        </div>
      </div>
      <div class="row p-3">
        <div class="col">
          <div class="card p-0">
            <div class="card-header text-white bg-primary">Settings</div>
            <div class="card-body">
              <form method="post">
                <div class="row">
                  {{ form.csrf_token() }}
                  {% for row in form.get_rows() if row[0] %}
                  <div class="col-6">
                    <div class="card mb-3">
                      <div class="card-header">{{ row[0] }}</div>
                      <div class="card-body">
                        {% for field in row[1] %}
                        <div class="row m-1">
                          <div class="col-5 text-end">{{ field.label }}:</div>
                          <div class="col-7">
                            {% if field.widget.input_type == 'checkbox' %}
                            <div class="form-check form-switch">
                              {% if field.object_data %}
                                {{ field(role_="switch", class_="form-check-input", checked_=field.object_data) }}
                              {% else %}
                                {{ field(role_="switch", class_="form-check-input") }}
                              {% endif %}
                            </div>
                            {% elif field.type == 'SelectField' %}
                              {{ field(class_="form-select") }}
                            {% else %}
                              {{ field() }}
                            {% endif %}
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  {{ loop.cycle('', '<div class="w-100"></div>')|safe }}
                  {% endfor %}
                </div>
                <div class="row justify-content-center">
                  <div class="col text-center">
                    <input class="btn btn-primary" id="{{form.id}}" name="{{form.id}}" type="submit" value="Generate">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="settings" aria-labelledby="settingsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="settingsLabel">Advanced settings</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <p>Below is the specification of the grid used by the generator to create components. You can select one of
          the presets or adjust the settings individually.</p>
        <div class="alert alert-info">
          <h5 class="alert-heading">Note</h5>
          <p class="mb-0">All measurements are in millimeters</p>
        </div>
        <div class="alert alert-danger">
          <h5 class="alert-heading">Beware</h5>
          <p class="mb-0">The defaults comply with the Gridfinity specification and have been tested to work well.
            Don't make any changes unless you have a good reason to do so and you know what you're doing.</p>
        </div>
      </div>
      <hr />
      <h5>Presets</h5>
      <select class="form-select" id="grid-presets" onchange="presetChanged()">
        <option value="Gridfinity" selected>Gridfinity</option>
        <option value="Raaco">Raaco</option>
      </select>
      <p id="demo"></p>
      <hr />
      <h5>Constants</h5>
      <form method="post">
        <div class="row justify-content-center">
          <div class="col text-center">
            <div class="row m-1">
              <div class="col-4 text-end"><label for="gridSizeX">Grid size X</label>:</div>
              <div class="col-8">
                <input id="gridSizeX" name="gridSizeX" type="number" step="any" value="{{gridsize_x}}">
              </div>
            </div>
            <div class="row m-1">
              <div class="col-4 text-end"><label for="gridSizeZ">Grid size Y</label>:</div>
              <div class="col-8">
                <input id="gridSizeY" name="gridSizeY" type="number" step="any" value="{{gridsize_y}}">
              </div>
            </div>
            <div class="row m-1">
              <div class="col-4 text-end"><label for="gridSizeZ">Height unit</label>:</div>
              <div class="col-8">
                <input id="gridSizeZ" name="gridSizeZ" type="number" step="any" value="{{gridsize_z}}">
              </div>
            </div>
            <div class="row m-1">
              <div class="col">
                <input class="btn btn-primary" id="advanced_settings" name="advanced_settings" type="submit"
                  value="Save">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row text-center pb-4">
  <div class="col">
    <footer>Gridfinity Creator v{{version}}. &copy;2024 Jeroen Bouwens. Source code available on <a
        href="https://github.com/jeroen94704/gridfinitycreator">GitHub</a>. Feel free to contact me on <a
        href="https://fosstodon.org/@jeroen94704">Mastodon</a> or <a
        href="https://discord.com/users/303964784984850433">Discord</a>
    </footer>
  </div>
</div>

<script>
  function presetChanged() {
    var presetName = document.getElementById("grid-presets").value;
    switch (presetName) {
      case "Gridfinity":
        document.getElementById("gridSizeX").value = "42.0";
        document.getElementById("gridSizeY").value = "42.0";
        document.getElementById("gridSizeZ").value = "7.0";
        break;
      case "Raaco":
        document.getElementById("gridSizeX").value = "39.5";
        document.getElementById("gridSizeY").value = "54.5";
        document.getElementById("gridSizeZ").value = "7.0";
        break;
    }
  }
</script>
{% endblock %}