{% extends 'templates/base.html' %}

{% block content %}

<div class="container-fluid border mb-3" style="max-width: 70%;">

  <div class="row bg-primary align-items-center" data-bs-theme="dark">
    <div class="col">
      <h1 class="text-center text-white p-2">Gridfinity Creator</h1>
    </div>
    <div class="col-1 text-end">
      <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#settings"
        aria-controls="settings">...</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" data-bs-toggle="tab" href="#home">Home</button>
        </li>
        {% for form in forms %}
        <li class="nav-item" role="presentation">
          <button class="nav-link" data-bs-toggle="tab" href="#{{ form.id }}">{{ form.get_title() }}</button>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="tab-content border border-top-0 mb-3">
    <div id="home" class="tab-pane active">
      <div class="row p-3">
        <div class="col">
          {% include 'templates/front_page.html' %}
        </div>
      </div>
    </div>

    {% for form in forms %}
    <div id="{{ form.id }}" class="tab-pane">
      <div class="row p-3">
        <div class="col-9">
          {{ form.get_description()|safe }}
        </div>
        <div class="col">
          <img src="/static/{{form.id}}_sample.jpg" class="img-fluid rounded mx-auto d-block" />
        </div>
      </div>
      <div class="row p-3">
        <div class="col">
          <div class="card p-0">
            <div class="card-header text-white bg-primary">Settings</div>
            <div class="card-body">
              <form method="post" id="{{form.id}}_form">
                {{ form.csrf_token() }}
                {{ form.get_settings_html() | inner_render({"form":form}) }}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% include 'templates/settings_offcanvas.html' %}
</div>

<div class="row text-center pb-4">
  <div class="col fw-lighter fs-6 text-secondary">
    <p>Gridfinity Creator v{{version}}. &copy;2024 Jeroen Bouwens.</p>
    <p><a class="fw-lighter" href="https://github.com/jeroen94704/gridfinitycreator">Source</a>.
      <a href="https://discord.gg/fBb2gpzKca">Discord</a>.
      <a href="https://ko-fi.com/jeroen94704">Donate</a>.
    </p>
  </div>
</div>

<div id="help-modal" class="modal fade " tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <p></p>
      </div>
    </div>
  </div>
</div>

<script>
  document.body.addEventListener('click', event => {
    // Only respond to help buttons
    if (!event.target.matches('.help-button')) {
      return;
    }

    // Check if there is any content present inside the (hidden) content block
    const sourceModalElement = document.getElementById('help-modal');
    const sourceModal = bootstrap.Modal.getOrCreateInstance(sourceModalElement);
    helpText = event.target.querySelector('[id^="content"]').innerHTML;

    if (helpText === "") {
      helpText = "There is no extra information available for this field"
    }

    sourceModalElement.querySelector('p').innerHTML = helpText

    sourceModal.show();
  }, false);

  window.onload = function () {
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  }

  function presetChanged() {
    var presetName = document.getElementById("grid-presets").value;
    switch (presetName) {
      case "Gridfinity":
        document.getElementById("gridSizeX").value = "42.0";
        document.getElementById("gridSizeY").value = "42.0";
        document.getElementById("gridSizeZ").value = "7.0";
        break;
      case "Raaco":
        document.getElementById("gridSizeX").value = "39.5";
        document.getElementById("gridSizeY").value = "54.5";
        document.getElementById("gridSizeZ").value = "7.0";
        break;
    }
  }
</script>
{% endblock %}