{% extends 'base.html' %}
{% import "bootstrap4/form.html" as wtf %}

{% block content %}

<div class="container">
  <div class="py-2 text-center">
    <h2>Welcome Gridfinifans!</h2>
    <p class="text-muted">(Yes, that is a word I made up. Yes, it's terrible. No, I don't feel guilty)</p>
  </div>

  <p class="py-2 primary lead">This page generates STL files for customizable Gridfinity components, such as the basic divider bin. You can specify grid-unit-size and
  other parameters (such as number of compartments), and toggle options like holes magnets and/or screws, stacking lip, etc. Just fill in the parameters 
  for one of the generators below and click the "Generate STL" button.</p>

  <p class="py-2 primary lead">Feel free to let me know what you think on <a href="https://hackaday.social/@Jeroen94704">Mastodon</a> or <a href="https://discord.com/users/303964784984850433">Discord</a></p>

  <p class="py-2 lead text-warning">NOTE: This is a very early alpha version. It may produce incorrect output, fail inexplicably or cease to exist at any moment.</p>

  <div class="container p-2 w-75">
    <ul class="nav nav-tabs">
      {% for form in forms %}
        <li>
          <button class="nav-link {% if loop.first %}active{% endif %}" data-toggle="tab" href="#{{ form.id }}">{{ form.get_title() }}</button>
        </li>
      {% endfor %}
    </ul>
  
    <div class="tab-content p-2 border border-top-0">
      {% for form in forms %}
        <div id="{{ form.id }}" class="tab-pane {% if loop.first %}active{% endif %}">
          <p class="py-2 primary">{{ form.get_description() }}</p>
          <form method="post">
            {{ form.csrf_token() }}
            {% for row in form.get_rows() %}
              {{ wtf.render_form_row(row, row_class="row row-cols-3") }}
            {% endfor %}
          </form>
        </div>
      {% endfor %}
    </div>
  </div>

  <p class="py-2"><strong>{{ message }}</strong></p>
</div>

{%- block footer %}
<footer class="container">&copy;2023 Jeroen Bouwens</footer>
{%- endblock footer %}

{% endblock %}

